.mainPic{
    margin-left: 20px;
    width: 1430px;
    border-radius: 20px;
    height: 650px;
}

.mainFace{
    position: relative;   
}

.textDiv{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
}

.searchBar{
    position: absolute;
    top: 50%;
    left: 37%;
}
